<head>
    <title>My Account</title>
    <link rel="stylesheet" href="navstyle.css">
    <link rel="stylesheet" href="account.css">
</head>
<body>
    <div id="nav"></div>
    <div class="user-info">
        <div class="profile-content">
            <div class="tab-content p-0">

               <div class="tab-pane fade in active show" id="profile-about">
                  <div class="table-responsive">
                    <h2 id = "name" contentEditable="true" >Name</h2>
                     <table class="table table-profile">
                        <tbody>
                           <tr class="highlight">
                              <td class="field">Email:</td>
                              <td id = "email">XXXXXXXXXX</td>
                           </tr>
                           <tr class="divider">
                              <td colspan="2"></td>
                           </tr>
                           <tr>
                              <td class="field">Service Hours:</td>
                              <td id = "hours">XX</td>
                           </tr>
                           <tr id = "roleContainer">
                              <td class="field">Role: </td>
                              <td id = "role"></td>
                           </tr>
                           <tr class="divider">
                              <td colspan="2"></td>
                           </tr>
                           <tr>
                              <td class="field">Member: </td>
                              <td id = "status"></td>
                           </tr>
                           <tr class="divider">
                              <td colspan="2"></td>
                           </tr>
                           <tr class="highlight">
                              <td class="field">Show: </td>
                              <td id = "show" contentEditable="true" >XXXX</td>
                           </tr>
                           <tr class="divider">
                              <td colspan="2"></td>
                           </tr>
                        </tbody>
                     </table>
                     <div id = "optContainer">
                        <div id = "saveButton">save</div>
                        <div id = "cancelButton">cancel</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </div>
    <script src="account.js"></script>
    <script src="header.js"></script>
</body>