<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="admin.css">
    <link rel="stylesheet" href="navstyle.css">
</head>
<body>
    <div id="nav"></div>
    <div class="secondnav">
        <div class="topnav" id="sub">
            <a href="">People</a>
            <a href="/review">Stuff</a>
            <a href="">Things</a>
        </div>
    </div>
    <div id="bar" class="wrapper"></div>
    <div class="wrapper" id="list">
        <script src="admin.js"></script>
        <p>Get off the admin page >:(</p>
    </div>
    <script src="header.js"></script>

</body>
</html>