<html>
    <head>
        <link rel="stylesheet" href="login.css">
        <script src="create-account.js"></script>
    </head>
    <body>
        <div class="header">
            Account Creation
        <div class="container">
            <form method="post">
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Password">
                <input type="password" id="create-password" placeholder="Confirm Password">
                <input type="submit" class="submit" id="login" value="Create Account">
                <div class="footer">
                    <a href="/login">Already have an account?</a>
                </div> 
            </form>
        </div>
    </body>
</html>