<html>
    <head>
        <link rel="stylesheet" href="navstyle.css">
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div id="nav"></div>
        <div class="welcome"><h1>Welcome!</h1></div>
        <div class="row">
            <div class="column">
                <h2>Announcements</h2>
                <div id="announcements"></div>
            </div>
            <div class="column" id="service">
                <h2>Service Opppertunities</h2>
                <div id="service"></div>
            </div>
        </div>
    </body>
    <script src="check-login.js"></script>
    <script src="header.js"></script>
</html>