<html>
    <head>
        <link rel="stylesheet" href="form.css">
        <link rel="icon" type="image/x-icon" href="logo.png">
        <title>WMUA</title>
    </head>
    <body>
        <div class="header">
            WMUA Login
        <div class="container">
            <form method="post" id="myForm">
                <input type="text" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Password">
                <input type="submit" class="submit" id="login" value="Login">
                <div class="footer">
                    <a href="create-account">Dont have an account?</a>
                    <p id="error-box"></p>
                </div> 
            </form>
        </div>
        <script src="login.js"></script>
    </body>
</html>