<head>
    <link rel="icon" type="image/x-icon" href="../logo.png">
    <title>WMUA</title>
    <link rel="stylesheet" href="../form.css">
    <link rel="stylesheet" href="../navstyle.css">
</head>
<body>
    <div id="nav"></div>
    <div class="header">
        New Post
    </div>
    <div id = "subheader"></div>
    <div class="container">
        <form method="post" id="myForm">
            <textarea id = "liked" placeholder="Start post here"></textarea>
            <input type="submit" class="submit" id="login" value="Submit Post">
        </form>
    </div>
    <script src = "../new-post.js"></script>
    <script src = "../header.js"></script>
</body>