<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="review.css">
    <link rel="stylesheet" href="navstyle.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
    <title>WMUA</title>
</head>
<body>
    <div id="nav"></div>
    <div class="secondnav">
        <div class="topnav" id="sub">
            <a href="/admin">People</a>
            <a href="#">Review</a>
            <a href="">Things</a>
        </div>
    </div>

    <div class="wrapper" id="list">
        <p>Get off the admin page >:(</p>
    </div>
    <script src="header.js"></script>
    <script src="review.js"></script>
</body>
</html>