<head>
    <title>WMUA</title>
    <link rel="stylesheet" href="../form.css">
</head>
<body>
    <div class="header">
        Attendance
    </div>
    <div id = "subheader"></div>
    <div class="container">
        <form method="post" id="myForm">
            <select id="director">
                <option value="" disabled selected>Which department Director sponsored this task?</option>
                <option value="gm">Kate Horgan - General Manager</option>
                <option value="prog">Isabella Cahill - Programmer</option>
                <option value="comm">Gil Cuevas - Communications and Music Director</option>
                <option value="arch">Mariam Hassan - Archival Music Director</option>
                <option value="newsEd">Owen Embury - News Editor</option>
                <option value="newsOp">Jon Plodzik - News Operator</option>
                <option value="pr">Hannah Guerin - Public Relations Director</option>
                <option value="fin">Cullen O'Reilly - Finance Director</option>
                <option value="tech">Gabby Mosher - Web/Tech Director</option>
                <option value="prod">James Rigney - Production Director</option>
                <option value="train">Riley Bowen - Training Director</option>
                <option value="sportsProd">Sean Oldred - Sports Production Director</option>
                <option value="sportsOp">Jacob Munch - Sports Operator</option>
                <option value="events">Isabel Durning - Events Director</option>
              </select>
            <input id = "hours" type="number" placeholder="# of Hours" required>
            <textarea id = "description" placeholder="Brief description of the task(s) preformed" required></textarea>
            <input type="submit" class="submit" id="login" value="Submit Attendance">
        </form>
    </div>
    <script src = "../attendance.js"></script>
</body>