html{
    background-color: #e6e6e6;
}

body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.row {
    display: flex;
    width: 80%;
    margin: auto;
    
  }
  
  .column {

    flex: 50%;
    background-color: #fff;
    border-radius: 4px;
    margin: 20px;
  }

.welcome{
  text-align: center;
}



h2{
    margin: auto;
    text-align: center;
    text-decoration: underline;
}