html{
    background-color: #e6e6e6;
}

body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.announcement{
  background-color: lightgray;
  width: 40%;
  padding: 20px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.announcementHeader{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.poster{
  font-weight: bold;
  margin-right: 10px;
}

.date{
  font-style: italic;
}

.message{
  margin-bottom: 5px;
}

img{
  width: 100%;
}

