
.topnav{
    border-radius: 4px;
    background-color: #881c1c;
    overflow: hidden;
}

.topnav a{
    text-align: center;
    float: left;
    text-decoration: none;
    color:#FAF9F6;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#signout{
    float:right;
}

#signout:hover{
    cursor: pointer;
}

#name{
    float:right;
}


.topnav a:hover {
    background-color: #FAF9F6;
    color: #212721;
  }